<ion-view view-title="Detalhes do convênio">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="hero slide-up" style="background-image: url('img/obras.jpg');">
            <div class="content">
              <!--<h3><a class="light">Recife</a></h3>-->
                <!--<div class="avatar" style="background-image: url('img/daenerys.jpg');"></div> -->

                <strong><h3>Convênio 25000.656422/2009-10</h3></strong>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.convenio-extra-detail" class="tab-item">
                <i class="icon ion-plus-circled"></i> Mais detalhes
            </a>
            <a ui-sref="app.denuncia-convenio" class="tab-item">
                <i class="icon ion-android-alert"></i> Denunciar
            </a>
            <a ui-sref="app.despesas-convenio-list" class="tab-item">
                <i class="icon ion-social-usd"></i> Despesas
            </a>
        </div>
        <div class="content padding">
          <table cellspacing="50">
          <tbody>
            <tr>
              <td bgcolor="#B71C1C" style="border: 2px solid #B71C1C">
                <font color="white">
                  <strong>OBJETO DO CONVÊNIO</strong>
                </font>
              </td>
            </tr>
            <tr>
              <td style="border: 2px solid #B71C1C; padding-top: 20px; padding-bottom: 20px" align="center"> AQUISIÇÃO DE EQUIPAMENTOS E MATERIAIS PERMANENTES.<strong></td>
            </tr>
            <tr>
              <td style="padding-top: 20px; padding-bottom: 20px"><strong>Proponente: </strong>INSTITUTO DE MEDICINA INTEGRAL PROFESSOR FERNANDO FIGUEIRA - IMIP</td>
            </tr>
            <tr>
                <td style="padding-top: 20px; padding-bottom: 20px"><strong>Valor:</strong> R$50,473.20</td>
            </tr>
            <tr>
              <td style="padding-top: 20px; padding-bottom: 20px"><strong>Situação: </strong>Prestação de Contas Aprovada com Ressalvas</td>
            </tr>
            </tbody>
          </table>
            <div class="row" style="padding-top: 20px">
              <div class="col">
                <i class="icon ion-android-checkmark-circle"></i> <span style="color: #4CAF50">Assinado</span>
              </div>
              <div class="col">
                  <i class="icon ion-android-checkmark-circle"></i> <span style="color: #4CAF50">Empenhado</span>
              </div>
            </div>
        </div>
    </ion-content>
</ion-view>
