<ion-view view-title="Mais detalhes do convênio">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/obras.jpg');">
            <div class="content">
              <!--<h3><a class="light">Recife</a></h3>-->
                <!--<div class="avatar" style="background-image: url('img/daenerys.jpg');"></div> -->

                <strong><h3>Convênio 25000.656422/2009-10</h3></strong>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.info-ibge" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Dados do IBGE
            </a>
            <a ui-sref="app.despesas-convenio-list" class="tab-item">
                <i class="icon ion-social-usd"></i> Despesas
            </a>
            <a ui-sref="app.denuncia-convenio" class="tab-item">
                <i class="icon ion-android-alert"></i> Denunciar
            </a>
        </div>
        <div class="content padding">
          <table style="border-collapse: collapse;">
          <tbody>
            <tr>
              <td bgcolor="#B71C1C" style="border: 2px solid #B71C1C">
                <font color="white">
                  <strong>OBJETO DO CONVÊNIO</strong>
                </font>
              </td>
            </tr>
            <tr>
              <td style="border: 2px solid #B71C1C; padding-top: 20px; padding-bottom: 20px" align="center"> AQUISIÇÃO DE EQUIPAMENTOS E MATERIAIS PERMANENTES.<strong></td>
            </tr>
            <tr>
              <td style="padding-top: 20px; padding-bottom: 10px"><strong>Proponente: </strong>INSTITUTO DE MEDICINA INTEGRAL PROFESSOR FERNANDO FIGUEIRA - IMIP</td>
            </tr>
            <tr>
                <td style="padding-top: 20px; padding-bottom: 10px"><strong>Valor:</strong> R$50,473.20</td>
            </tr>
            <tr>
              <td style="padding-top: 20px; padding-bottom: 10px"><strong>Situação: </strong>Prestação de Contas Aprovada com Ressalvas</td>
            </tr>
            <tr>
              <td style="padding-top: 20px; padding-bottom: 10px"><strong>Data de Publicação: </strong> 01/20/10</td>
            </tr>
            <tr>
              <td style="padding-top: 20px; padding-bottom: 10px"><strong>Data início de Vigência: </strong> 12/31/09</td>
            </tr>
            <tr>
              <td style="padding-top: 20px; padding-bottom: 10px"><strong>Data término: </strong> 06/07/2012 </td>
            </tr>
            <tr>
              <td style="padding-top: 20px; padding-bottom: 10px"><strong>Tipo de identidade do proponente:</strong> CNPJ</td>
            </tr>
            <tr>
              <td style="padding-top: 20px; padding-bottom: 10px"><strong>Identidade do proponente:</strong> 10988301000129</td>
            </tr>
            </tbody>
          </table>
          <div class="text-right" style="padding-top: 20px">
            <i class="icon ion-android-checkmark-circle"></i> <span style="color: #4CAF50">Assinado</span>
            <div class="pull-left">
                <i class="icon ion-android-checkmark-circle"></i> <span style="color: #4CAF50">Empenhado</span>
            </div>
          </div>
        </div>
    </ion-content>
</ion-view>
