<ion-view view-title="Lista de despesas de convênios">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
      <h4 class="content padding"> Convênio 25000.656422/2009-10 </h4>
        <div class="item card-item">
            <div class="item card-item">
              <div ui-sref="app.despesas-convenio-detail" class="card stable-bg ink ink-dark">
                  <div class="item item-avatar item-text-wrap">
                      <span class="avatar" style="background-image: url('img/obras.jpg');"></span>
                      <strong>EQUIPAMENTO: COLCHÃO ANTI-ESCARAS
                              (Colchão Ondas-do-mar)

                              Colchão elétrico anti escaras;
                              Permite a alternância de pressão entre as células;
                              Com compressor de ar com regulação de fluxo;
                              Colchão em látex e microcânulas de silicone;
                              De fácil limpeza e des</strong>
                      <p style="padding-top: 10px">
                        <strong>Valor total: </strong> R$5,851.26
                      </p>
                  </div>
            </div>
          </div>
          <div class="item card-item">
              <div ui-sref="app.despesas-convenio-detail" class="card stable-bg ink ink-dark">
                  <div class="item item-avatar item-text-wrap">
                      <span class="avatar" style="background-image: url('img/obras.jpg');"></span>
                      <strong>EQUIPAMENTO: BALANÇA ELETRÔNICA ANTROPOMÉTRICA
                              Totalmente Eletrônica;
                              Zeragem Automática;
                              Plataforma em Aço 1020;
                              Com Piso de Borracha;
                              Antiderrapante;
                              Pés Reguláveis para Nivelamento;
                              Baixo Consumo de Energia;
                              Reduzida Manutenção;
                              Aprovada pelo Inmetro;</strong>
                      <p style="padding-top: 10px">
                        <strong>Valor total: </strong> R$8,106.00
                      </p>
                  </div>
            </div>
          </div>
          <div class="item card-item">
              <div ui-sref="app.despesas-convenio-detail" class="card stable-bg ink ink-dark">
                  <div class="item item-avatar item-text-wrap">
                      <span class="avatar" style="background-image: url('img/obras.jpg');"></span>
                      <strong>EQUIPAMENTO: MESA CIRÚRGICA Mesa cirúrgica para todos os tipos de cirurgia Base em ferro fundido com acabamento pintado em poliuretano Revestimento em chapa de aço inoxidável com acabamento polido e apoio para os pés Sistema de fixação e movimentação atra </strong>
                      <p style="padding-top: 10px">
                        <strong>Valor total: </strong> R$28,600.00
                      </p>
                  </div>
            </div>
          </div>
    </ion-content>
</ion-view>
