<ion-view view-title="Informações">
    <ion-nav-buttons side="left">
        <button class="button" ui-sref="app.convenio-list" style="background-color: Transparent; border: none"><i class="ion-arrow-left-c" style="background-color: Transparent; color: white"></i></button>
    </ion-nav-buttons>
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/info.jpg');">
            <div class="content">
              <h3><a class="light">Recife</a></h3>
                <h4>Dados do IBGE sobre Recife </h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.unidades-saude" class="tab-item">
                <i class="icon ion-plus-circled"></i> Unidades de Saúde
            </a>
        </div>
        <div>
          <div class="item card-item">
              <div ui-sref="app.menu" class="card stable-bg ink ink-dark">
                  <div class="item item-text-wrap">
                    <table>
                      <tr>
                        <td><strong>IDH: <strong></td>
                        <td>0,772	 <span>IBGE</span></td>
                      </tr>
                      <tr style="margin-top: 100px">
                        <td><strong>Mortalidade</strong></td>
                        <td>Total: 4408 | Homens: 2246 | Mulheres: 2162 <span> IBGE </span></td>
                      </tr>
                    </table>
                  </div>
              </div>
          </div>

          <img src='img/estabelecimentos.png'>
          <img src='img/morbidade.png'>
        </div>
    </ion-content>
</ion-view>
