<ion-view view-title="Login" align-title="left">
    <ion-content style="background:#B71C1C center; background-size: cover;">
        <div class="hero no-header flat">
          <div class="app-icon"></div>
          <div class="content">
              <h1 style="margin-top: 30px">Eu Fiscal</h1>
              <h3>Saúde</h3>
          </div>
        </div>
        <div class="list">
          <ion-md-input placeholder="Digite o nome de uma cidade" highlight-color="balanced" type="text"></ion-md-input>
        </div>
        <div class="padding">
            <button ui-sref="app.activity" class="button button-full button-assertive ink">Entrar</button>
        </div>
    </ion-content>
</ion-view>
