<ion-view view-title="Detalhes do convênio">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/obras.jpg');">
            <div class="content">
              <h3><a class="light">Recife</a></h3>
                <!--<div class="avatar" style="background-image: url('img/daenerys.jpg');"></div> -->

                <h4>lalalal </h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Analise IBGE
            </a>
            <!--<a ui-sref="app.friends" class="tab-item">
                <i class="icon ion-android-people"></i> Friends
            </a> -->
            <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-android-alert"></i> Denunciar
            </a>
        </div>
        <h4 class="content padding double-padding-x"> Recife </h4>
        <div class="content padding"><p> Dados do convênio. </p> </div>
        <div class="content padding">
          <table>
            <tr>
              <td><strong>Objeto: <strong></td>
              <td>Medio</td>
            </tr>
            <tr>
              <td><strong>Valor:</strong></td>
              <td>pequeno</td>
            </tr>
            <tr>
              <td><strong>Situação:</strong></td>
              <td>grande</td>
            </tr>
            <tr>
              <td><strong>Data de Publicação:</strong></td>
              <td>grande</td>
            </tr>
            <tr>
              <td><strong>Data início de Vigência:</strong></td>
              <td>grande</td>
            </tr>
            <tr>
              <td><strong>Data término:</strong></td>
              <td>grande</td>
            </tr>
            <tr>
              <td><strong>Assinado:</strong></td>
              <td>grande</td>
            </tr>
            <tr>
              <td><strong>Empenhado:</strong></td>
              <td>grande</td>
            </tr>
          </table>
          <div class="item card-item">
              <div ui-sref="app.menu" class="card stable-bg ink ink-dark">
                  <div class="item item-avatar item-text-wrap">
                      <span class="avatar" style="background-image: url('img/obras.jpg');"></span>
                      <strong>Aplicação 1</strong> says "Perhaps that is the secret. It is not what we do, so much as why we do it."
                  </div>
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/obras.jpg');"></span>
                    <strong>Aplicação 2</strong> says "Perhaps that is the secret. It is not what we do, so much as why we do it."
                </div>
            </div>
          </div>
        </div>
    </ion-content>
</ion-view>
