<ion-view view-title="Detalhes do convênio">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/obras.jpg');">
            <div class="content">
              <h3><a class="light">Recife</a></h3>
                <!--<div class="avatar" style="background-image: url('img/daenerys.jpg');"></div> -->

                <h4>Convênio</h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.activity-ibge" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Informações
            </a>
            <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-android-alert"></i> Denunciar
            </a>
        </div>
        <div class="content padding">
          <table>
            <tr>
              <td><strong>Proponente: </strong>INSTITUTO DE MEDICINA INTEGRAL PROFESSOR FERNANDO FIGUEIRA - IMIP</td>
            </tr>
            <tr>
              <td><strong>Tipo de identidade do proponente:</strong> CNPJ</td>
            </tr>
            <tr>
              <td><strong>Identidade do proponente:</strong> 10988301000129</td>
            </tr>
            <tr>
              <td><strong>Objeto:</strong> AQUISIÇÃO DE EQUIPAMENTOS E MATERIAIS PERMANENTES.Equipamentos :02 Mesas Cirurgicas - Ambientes = Centro Cirúrgico,06 Balanças Eletronicas - Ambientes = UTI's e Enfermarias,100 Escadinha de Dois Degraus - Ambientes = UTI's e Enfermarias,09 Colchão<strong></td>
            </tr>
            <tr>
              <td><strong>Valor:</strong> R$50,473.20</td>
            </tr>
            <tr>
              <td><strong>Situação: </strong>Prestação de Contas Aprovada com Ressalvas</td>
            </tr>
            <tr>
              <td><strong>Data de Publicação: </strong> 01/20/10</td>
            </tr>
            <tr>
              <td><strong>Data início de Vigência: </strong> 12/31/09</td>
            </tr>
            <tr>
              <td><strong>Data término: </strong> 06/07/2012 </td>
            </tr>
            <tr>
              <td><strong>Assinado: </strong> Sim</td>
            </tr>
            <tr>
              <td><strong>Empenhado: </strong>Sim</td>
            </tr>
            <tr>
              <td><strong>Número do Processo do Convênio: </strong> 25000.656422/2009-10</td>
            </tr>
          </table>
          <div class="item card-item">
              <div ui-sref="app.menu" class="card stable-bg ink ink-dark">
                  <div class="item item-avatar item-text-wrap">
                      <span class="avatar" style="background-image: url('img/obras.jpg');"></span>
                      <table>
                        <tr>
                          <td>
                            <strong>Descrição da despesa: EQUIPAMENTO: COLCHÃO ANTI-ESCARAS
                                                          (Colchão Ondas-do-mar)

                                                          Colchão elétrico anti escaras;
                                                          Permite a alternância de pressão entre as células;
                                                          Com compressor de ar com regulação de fluxo;
                                                          Colchão em látex e microcânulas de silicone;
                                                          De fácil limpeza e des </strong>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <strong>Tipo de despesa: OUTROS </strong>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <strong>Unidade de fornecimento: UNIDADE </strong>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <strong>Valor unitário: R$650.14 </strong>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <strong>Quantidade: 9 </strong>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <strong>Valor total: R$5,851.26 </strong>
                          </td>
                        </tr>
                      </table>
                  </div>
            </div>
          </div>
          <div class="item card-item">
              <div ui-sref="app.menu" class="card stable-bg ink ink-dark">
                  <div class="item item-avatar item-text-wrap">
                      <span class="avatar" style="background-image: url('img/obras.jpg');"></span>
                      <table>
                        <tr>
                          <td>
                            <strong>Descrição da despesa: EQUIPAMENTO: BALANÇA ELETRÔNICA ANTROPOMÉTRICA
                                                          Totalmente Eletrônica;
                                                          Zeragem Automática;
                                                          Plataforma em Aço 1020;
                                                          Com Piso de Borracha;
                                                          Antiderrapante;
                                                          Pés Reguláveis para Nivelamento;
                                                          Baixo Consumo de Energia;
                                                          Reduzida Manutenção;
                                                          Aprovada pelo Inmetro; </strong>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <strong>Tipo de despesa: OUTROS </strong>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <strong>Unidade de fornecimento: UNIDADE </strong>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <strong>Valor unitário: R$1,351.00 </strong>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <strong>Quantidade: 6 </strong>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <strong>Valor total: R$8,106.00 </strong>
                          </td>
                        </tr>
                      </table>
                  </div>
            </div>
          </div>
          <div class="item card-item">
              <div ui-sref="app.menu" class="card stable-bg ink ink-dark">
                  <div class="item item-avatar item-text-wrap">
                      <span class="avatar" style="background-image: url('img/obras.jpg');"></span>
                      <table>
                        <tr>
                          <td>
                            <strong>Descrição da despesa: EQUIPAMENTO: MESA CIRÚRGICA Mesa cirúrgica para todos os tipos de cirurgia Base em ferro fundido com acabamento pintado em poliuretano Revestimento em chapa de aço inoxidável com acabamento polido e apoio para os pés Sistema de fixação e movimentação atra </strong>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <strong>Tipo de despesa: BEM </strong>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <strong>Unidade de fornecimento: UN </strong>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <strong>Valor unitário: R$14,300.00 </strong>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <strong>Quantidade: 2 </strong>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <strong>Valor total: R$28,600.00 </strong>
                          </td>
                        </tr>
                      </table>
                  </div>
            </div>
          </div>
        </div>
    </ion-content>
</ion-view>
