<ion-view view-title="Tabs">
  <ion-tabs class="tabs-icon-top tabs-positive">
    <ion-tab title="Escolher município" ui-sref="app.login">
      <ion-nav-view name="login"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Convênios salvos" ui-sref="app.convenio-salvo-list">
      <ion-nav-view name="convenio-salvo-list"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Todos os convênios" ui-sref="app.convenio-list">
      <ion-nav-view name="convenio-list"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Dados do município" ui-sref="app.activity-ibge">
      <ion-nav-view name="activity-ibge"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Sobre" ui-sref="app.login">
      <ion-nav-view name="login"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
