<!--
  #TIP: in this case we hide the navbar provided by navigation system.
-->
<ion-view hide-nav-bar="true">

  <ion-header-bar class="bar bar-deepblue bar-deepblue-borderbottom">
    <button ui-sref="app.start" class="button button-clear button-deepblue-white"><i class="white-color ion-arrow-left-c"></i></button>
    <h2 class="title">Sobre</h2>
  </ion-header-bar>

  <ion-content class="has-header has-footer padding full-height text-center">

    <div style="padding-top:50px;">
    <h3 class="sans-pro-light"> Sobre </h3>


    <!--
      #NOT-IMPLEMENTED:
      the button does nothing, implementation is up to you!
    -->

</ion-view>
